.ftpignore
.fortls
*.mod
*.o
*.out
*.err
otherwise/*
obj/*
.depends*
lib/*
.vscode/*
matrix/*
/main
main.dSYM/*
buildtype.mk
setting.mk
hello.sh
Make.inc/buildtype/*
Make.inc/setting/*

hello.sh
job.sh
main.f90
src/starpu/*
build/*